# Linters
########################
flake8==3.7.8
flake8-docstrings==1.4.0
flake8-print==3.1.0
mypy==0.730
yamllint==1.17.0

# Code formatters
########################
black==19.3b0
isort==4.3.21

# Testing
########################
coveralls==1.8.2
freezegun==0.3.12
pytest==5.1.3
pytest-cov==2.7.1
responses==0.10.6

# Security checks
########################
safety==1.8.5

# Releasing
########################
bumpversion==0.5.3
towncrier==19.2.0

# Docs
########################
sphinx==2.2.0
sphinx-autodoc-typehints==1.9.0
