# Linters
########################
ruff==0.0.241
mypy==0.991
yamllint==1.28.0

# Code formatters
########################
black==22.12.0
isort==5.11.4

# Security checks
########################
safety==2.3.5